.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0px auto auto 0px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 1s linear;
}

.khan__buy-link:hover {
  color: black;
  opacity: 0.3;
}
